
<h1 class="edit-budget"><%=t('.editing_budget')%></h1>

<%= render 'form', budget: @budget %>
<div class="edit_back-budget">

  <span class="material-symbols-outlined see-budget-box">
    visibility
    <%= link_to t('common.show'), @budget %> 
  </span>
  
  
  <a href="/budgets">
    <span class="material-symbols-outlined detail-icon">
      arrow_back
    </span>
  </a>
</div>
