<p id="notice"><%= notice %></p>

<body class="budget-body">
  <section class="budgets-section">
    <div class="budgets_search">
      <h3>Presupuestos</h3>
      <div class="input-search">
        <div class="input-search-box">
          <!-- <form action=""> -->

          <input type="text" placeholder="Buscar...">
          <!-- <input type="submit"> -->
          <span class="material-symbols-outlined">
            search
          </span>
          <!-- </form> -->

        </div>
        <button type="button" class="budgets_button" data-toggle="modal" data-target="#myModal">
          <img src="/images/sort_by_alpha.png" alt="">
      </div>
      </button>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-sm">
              <!-- <div class="modal-content">
                <h3>Ordenar por :</h3>

              </div> -->
              <div class="modal-footer">
                <p>Ordenar por :</p>

                <button type="text" class="btn" value="close">
                  <img src="/images/close-icon.png" alt="">
                </button>
              </div>
              <div class="modal-body">
                <form>

                  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                  <label for="vehicle1"> Más antiguo a más nuevo</label><br>
                  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                  <label for="vehicle2"> Más nuevo a más antiguo</label><br>
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Precio más bajo</label> <br>
                  <input type="checkbox" id="vehicle4" name="vehicle4" value="Boat">
                  <label for="vehicle4"> Precio más alto</label>
                </form>


              </div>
              <!-- <div class="modal-footer">
                <button type="text" class="btn" value="close">
                  <img src="./web-experto/images/close-icon.png" alt="">
                </button>
              </div> -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="budgets_products">

      <ul>
        <%#= budget.name %>
        <%#= link_to 'Show', budget %>

        <p>Presupuesto #20420</p>
        <ul class="budgets_products-detail">
          <%#= budget.expiration_date %>
          <li class="detail-li">01/11/2022</li>
          <%#= budget.total %>

          <li class="detail-li">- 2 productos</li>

        </ul>
      </ul>
      <ul class="budgets_products-detail">
        <%#= budget.total %>
        <li class="detail-li-price">$2.490</li>
        <li class="detail-li-price">
          <%#= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %>
          <span class="material-symbols-outlined budgets_delete-icon">
            delete
          </span></li>
      </ul>
    </div>
    <hr>







    <!-- <div class="budgets_products">

      <ul>
        <p>Presupuesto #20420</p>
        <ul class="budgets_products-detail">
          <li class="detail-li">01/11/2022</li>
          <li class="detail-li">- 2 productos</li>

        </ul>
      </ul>
      <ul class="budgets_products-detail">
        <li class="detail-li-price">$2.490</li>
        <li class="detail-li-price">
          <span class="material-symbols-outlined budgets_delete-icon">
            delete
          </span></li>
      </ul>
    </div>
    <hr>




    <div class="budgets_products">

      <ul>
        <p>Presupuesto #20420</p>
        <ul class="budgets_products-detail">
          <li class="detail-li">01/11/2022</li>
          <li class="detail-li">- 2 productos</li>

        </ul>
      </ul>
      <ul class="budgets_products-detail">
        <li class="detail-li-price">$2.490</li>
        <li class="detail-li-price">
          <span class="material-symbols-outlined budgets_delete-icon">
            delete
          </span></li>
      </ul>
    </div>
    <hr>

    <div class="budgets_products">

      <ul>
        <p>Presupuesto #20420</p>
        <ul class="budgets_products-detail">
          <li class="detail-li">01/11/2022</li>
          <li class="detail-li">- 2 productos</li>

        </ul>
      </ul>
      <ul class="budgets_products-detail">
        <li class="detail-li-price">$2.490</li>
        <li class="detail-li-price">
          <span class="material-symbols-outlined budgets_delete-icon">
            delete
          </span></li>
      </ul>
    </div>
    <hr class="hr">

    <div class="budgets_products">

      <ul>
        <p>Presupuesto #20420</p>
        <ul class="budgets_products-detail">
          <li class="detail-li">01/11/2022</li>
          <li class="detail-li">- 2 productos</li>

        </ul>
      </ul>
      <ul class="budgets_products-detail">
        <li class="detail-li-price">$2.490</li>
        <li class="detail-li-price">

          <span class="material-symbols-outlined budgets_delete-icon">
            delete
          </span></li>

      </ul>
    </div>
    <hr class="hr">
  </section> -->



</body>
<!-- <h1>Presupuestos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Expiration date</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

<!-- <tbody>
  <%# @budgets.each do |budget| %>
  <tr>
    <td><%#= budget.name %></td>
    <td><%#= budget.expiration_date %></td>
    <td><%#= budget.total %></td>
    <td><%#= link_to 'Show', budget %></td>
    <td><%#= link_to 'Edit', edit_budget_path(budget) %></td>
    <td><%#= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <%# end %>
</tbody>
</table>

<br> -->

<%#= link_to 'New Budget', new_budget_path %>