


<section class="budgets-section">
  <section class="detail-1erSection">

    <div class="detalle_presupuesto d-flex">
      <a href="/budgets">
        <span class="material-symbols-outlined detail-icon">
          arrow_back
        </span>
      </a>
      <p class="detail-presupuesto">Presupuesto: <%= @budget.name %></p>
      <a class="editar-btn-budget" href="budgets/id/edit"><span class="material-symbols-outlined detail-icon">
          edit
        </span>
        <%= link_to 'Editar', edit_budget_path(@budget) %>

      </a>
    </div>
    <p class="detail-date">Fecha de expiracion: <%= @budget.expiration_date %></p>
  </section>
  <section class="detail-plan">
    <h3>Internet 100 MB + Flow Full</h3>
    <p class="detail-old-price">Precio de lista <span>
        $7760

      </span>
    </p>
    <p class="detail-new-price"> <span>
        $4.790 </span>final por mes</p>


  </section>

  <section class="detail-combo">
    <div class="combo-elegido">
      <p>El combo que elegiste incluye </p>
      <a href="#"><span class="material-symbols-outlined">
          expand_less
        </span></a>
    </div>

  </section>
  <section class="detail-explain">

    <div class="detail-explain-box">

      <ul>
        <ul class="budgets_products-detail-explain">
          <li class="detail-li"><span class="material-symbols-outlined">
              tv
            </span></li>
          <li class="detail-l">Flow Full</li>

        </ul>
      </ul>
      <ul class="budgets_products-detail">
        <li class="detail-li-price price-list">$2.490</li>
        <li class="detail-li-price">
          <span class="material-symbols-outlined budgets_delete-icon" data-toggle="modal" data-target="#exampleModal">
            delete
          </span></li>
      </ul>
    </div>
    <p>
      Internet 100 MB
      Módem WiFi
      Velocidad de bajada hasta 100 Megas
      Descuento Conexión Total
      Personal WiFi Pass
      Velocidad de subida hasta 25 Megas
      Atención telefónica las 24 horas
      Personal Mail
    </p>
    <div class="detail-explain-box">

      <ul>
        <ul class="budgets_products-detail-explain">
          <li class="detail-li"><span class="material-symbols-outlined">
              wifi
            </span></li>
          <li class="detail-l">Internet 100 MB</li>

        </ul>
      </ul>
      <ul class="budgets_products-detail">
        <li class="detail-li-price2 price-list">
          <span class="price-list">
            $2.300
          </span></li>
        <li class="detail-li-price">
          <span class="material-symbols-outlined budgets_delete-icon" data-toggle="modal" data-target="#exampleModal">
            delete
          </span></li>
      </ul>
    </div>
    <p>
      Internet 100 MB
      Módem WiFi
      Velocidad de bajada hasta 100 Megas
      Descuento Conexión Total
      Personal WiFi Pass
      Velocidad de subida hasta 25 Megas
      Atención telefónica las 24 horas
      Personal Mail
    </p>

  </section>
  <div class="section-buttons">

    <button class="budgets-button" data-toggle="modal" data-target="#exampleModal1">Solicitar presupuesto</button>
    <!-- Modal  para eliminar-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Eliminar producto?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            El producto seleccionado se eliminará de tu presupuesto, puedes volver a agregarlo luego </div>
          <div class="modal-footer">
            <button type="button" class="btn  btn-success myButton2" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success myButton">Si, eliminar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal para confirmar solicitud -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¡Solicitud enviada!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Uno de nuestros representantes se contactará vía mail para brindarte más información </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-success myButton">Entendido</button>
          </div>
        </div>
      </div>
    </div>
    <button class="products-button" data-toggle="modal" data-target="#exampleModal2">Agregar productos</button>
    <!-- Modal para agregar productos -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog2" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar productos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body body-modal">
            <p class="body-modal">

              Selecciona los productos que te interese sumar al presupuesto.
            </p>

          </div>
          <div class="modal-body body-modal">

            <div class="container2">
              <div class="landing_little-container ">

                <p class="card-title">Flow clásico HD </p>
              </div>
              <p class="card-subtitle"> $2.460 <span class="final-por-mes">
                  final por mes
                </span> </p>
              <p class="Linea-movil">Cliente línea móvil
                <span class="por-12-meses">

                  - $3.800 por 12 meses
                </span>
              </p>
              <button class="landing_button2 btn-success myButton">Agregar</button>

            </div>

          </div>
          <div class="modal-body body-modal">

            <div class=" container2">
              <div class="landing_little-container">

                <p class="card-title">Flow Flex Abono </p>
              </div>
              <p class="card-subtitle"> $3.280 <span class="final-por-mes">
                  final por mes
                </span> </p>
              <p class="Linea-movil">Cliente línea móvil
                <span class="por-12-meses">

                  - $5.200 por 12 meses
                </span>
              </p>
              <button class="landing_button2 btn-success myButton">Agregar</button>

            </div>
          </div>
          <div class="modal-footer modal_footer-box">

            <button type="button" class="btn btn-success myButton">Hecho</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


