<header>

  <nav class="navbar">

    <div id="menu"><span class="material-symbols-outlined">
        menu
      </span>
    </div>


    <div class="navbar-left">

      <ul>
        <li><a href="/">Suscripciones</a></li>
        <li><a href="/">Tienda</a></li>
        <li><a href="/">TV y Streaming</a></li>
        <li><a href="/">Presupuestos</a></li>
        <li><a href="/">Contacto</a></li>
      </ul>
    </div>

    <div class="navbar-logo"><a href="#">Logo</a>
    </div>
    <div class="search-button">
      <span class="material-symbols-outlined" id="search">
        search
      </span>
    </div>
    <div class="navbar-user"><a href="#">
        <span class="material-symbols-outlined" id="user">
          account_circle
        </span></a>
    </div>


    <div class="mobile-menu inactive" id="menuMobile">
      <ul>
        <li id="lista-menu"><a href="/">Menú</a></li>
        <li id="lista1"><a href="/">Suscripciones</a></li>
        <li id="lista1"><a href="/">Tienda</a></li>
        <li id="lista1"><a href="/">TV y Streaming</a></li>
        <li id="lista1"><a href="/">Presupuestos</a></li>
        <li id="lista1"><a href="/">Contacto</a></li>
      </ul>
    </div>

  </nav>


</header>

<script>
  
  const menuHamIcon = document.getElementById('menu');
  const mobileMenu = document.getElementById('menuMobile');

  menuHamIcon.addEventListener('click', toggleMobileMenu);
  mobileMenu.addEventListener('click', closeMobileMenu)

  function toggleMobileMenu() {
    menuMobile.classList.toggle('inactive');

  }
</script>

<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<footer class="footer-mobile">


  <h1><img src="/images/imgs/Telecom_argentina_logo21 1.png" alt=""></h1>
  <ul>
    <li>Acerca de</li>
    <li>Asistencia</li>
    <li>Correo de ayuda</li>
    <li>Contacto</li>
    <li>Arrenpentimiento</li>
  </ul>
  <ul>
    <li>

      General Hornos 690-Ciudad de Bs.As
    </li>
  </ul>
  <section>
    <ul class="icons-list">
      <li><img class="img img2" src="/images/facebbok.png" alt=""></li>
      <li><img class="img" src="/images/twitter.png" alt=""></li>
      <li><img class="img" src="/images/linkedin.png" alt=""></li>
    </ul>
  </section>
  <section class="footer_final-section">
    <ul>
      <li>Telecom Argentina S.A</li>
      <li>Todos los derechos reservados</li>
    </ul>
    <ul class="footer_afip-section">
      <li><img class="img" src="/images/aaip-icon.png" alt=""></li>
      <li><img class="img" src="/images/dataFiscal-icon.png" alt=""></li>
    </ul>
  </section>

</footer>

<footer class="footer-desktop">
  <section class="footer_telecom-section">
    <img src="./images/imgs/Telecom_argentina_logo21 1.png" alt="">
  </section>
  <section class="footer_first-section">

    <ul class="first-section_list1">
      <a class="Acerca_de" href="#">Acerca de</a>
      <li>Compañia</li>
      <li>Inversiones</li>
      <li>Prensa</li>
      <li>RRHH</li>
      <li>RSE</li>
    </ul>
    <ul class="first-section_list">
      <a href="#">ASISTENCIA</a>
      <li>Conexiones clandestinas</li>
      <li>Enacom contacto@enacom.gob.ar</li>
      <li>Accesibilidad</li>
      <li>Prestacion Basica Universal</li>
    </ul>
    <ul class="first-section_list">
      <a href="#">ASISTENCIA</a>
      <li>Defensa de las y los consumidores.Para relcamos ingrese aqui</li>
      <li>Politica de privacidad de Telecom Argentinca S.A.</li>
      <li>Contratos de adhesion-Ley N˚24.240 de Defensa del Consumidor</li>
      <li>Reglamento de cliente servicios TIC</li>
    </ul>
    <ul class="first-section_list">
      <a href="#">Ayuda</a>
      <li>
        Contacto
      </li>
      <li>
        Arrenpentimiento
      </li>
      <ul class="icons-list">
        <li><img class="img img2" src="/images/facebbok.png" alt=""></li>
        <li><img class="img img2" src="/images/twitter.png" alt=""></li>
        <li><img class="img img2" src="/images/linkedin.png" alt=""></li>
      </ul>
    </ul>
  </section>
  <section class="footer_second-section">
    <ul class="second-section_list">
      <li>Los servicios que presta Telecom Argentina S.A. están sujetos a disponibilidad técnica y geográfica dentro
        del territorio de la República Argentina
      </li>
      <li>© 1997 / 2022 Telecom Argentina S.A. Todos los derechos reservados - General Hornos 690 - Ciudad de Bs. As.
        CUIT 30-63945373-</li>
    </ul>
    <ul class="footer_afip-section">
      <li><img class="afip-icon-desktop" src="/images/aaip-icon.png" alt=""></li>
      <li><img class=" afip-icon-desktop" src="/images/dataFiscal-icon.png" alt=""></li>
    </ul>
  </section>
</footer>