<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Suscripciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tv y Streaming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Presupuestos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>

            </ul>
        </div>
        <a class="navbar-brand logo" href="#">Logo</a>
        <a class="navbar-brand" href="#">
            <span class="material-symbols-outlined material-symbol">
                account_circle
            </span>
        </a>

    </nav>


    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>



    <footer>
        <h1>telecom</h1>
        <ul>
            <li>Acerca de</li>
            <li>Asistencia</li>
            <li>Correo de ayuda</li>
            <li>Contacto</li>
            <li>Arrenpentimiento</li>
        </ul>
        <div>
            general Hornos 690-Ciudad de Bs.As
        </div>
        <section>
            <ul>
                <li><img src="../../../public/images/facebbok.png" alt=""></li>
                <li><img src="../../../public/twitter.png"  alt=""></li>
                <li><img src="../../../public/images/images/icons/linkedin.png"  alt=""></li>
            </ul>
        </section>
        <section class="footer_final-section">
            <ul>
                <li>Telecom Argentina S.A</li>
                <li>Todos los derechos reservados</li>
            </ul>
            <ul class="fiscal-icons">
                <li><img class="img" src="../../../public/images/images//imgs/aaip-icon.png" alt=""></li>
                <li><img class="img" src="../../../public/images/images//imgs/dataFiscal-icon.png" alt=""></li>
            </ul>
        </section>
    </footer>
</header>