
// @media (max-width: 640px) {

//   .title_signup,
//   #datos_title {
//     display: flex;
//     align-content: center;
//     justify-content: center;
//     align-items: center;
//   }

//   .signup_footer_desktop {
//     display: none;
//   }

//   .signup_footer_mobile {
//     display: grid;
//     grid-template-columns: 1fr 1fr;

//     #mobile_footer1 {
//       display: grid;
//       justify-items: start;
//       margin-left: 24px;
//     }

//     #mobile_footer2 {
//       display: grid;
//       justify-items: end;
//       margin-right: 24px;
//     }
//   }

// }


@media (min-width: 641px) {
  .main_login {
    Width: 552px;
    Height: 690px;
    margin: auto;
    margin-bottom: 77px;
    margin-top: 76px;
  }

  div.title {
    padding-bottom: 40px;
  }

  .field_login #user_email,
  #user_password {
    Width: 360px;
    border-color: var(--Content1);
  }

  #iniciar_sesion {
    display: none;
  }

  #login_button input {
    width: 360px;
    color: var(--Background);
  }

  .footer_login {
    position: absolute;
    bottom: 0;
    width: 100%;

    .login_footer_mobile {
      display: none;
    }

    .login_footer_desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;

      #desktop_footer1 {
        display: grid;
        justify-items: start;
        margin-left: 155px;
      }

      #desktop_footer2 {
        display: grid;
        justify-items: end;
        margin-right: 157px;
      }
    }
  }
}

@media (max-width: 640px) {

  .main_login {
    background-color: var(--Background);
  }

  div.title {
    padding-bottom: 32px;
  }

  .field_login #user_email,
  #user_password {
    width: 319px;
    border-color: var(--Background);
  }

  #login_button input {
    width: 319px;
    color: var(--Background);
  }

  #linea_login {
    width: 141.24px;
  }

  .footer_login {
    margin: auto;

    .login_footer_desktop {
      display: none;
    }

    .login_footer_mobile {
      display: grid;
      grid-template-columns: 1fr 1fr;

      #mobile_footer1 {
        display: grid;
        justify-items: start;
        margin-left: 24px;
      }

      #mobile_footer2 {
        display: grid;
        justify-items: end;
        margin-right: 24px;
      }
    }
  }
}

.text_login {
  margin-bottom: 10px;
  margin-right: 250px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  // width: 360px;
  height: 24px;
}

.text_login1 {
  margin-bottom: 10px;

  color: var(--Gris-text-50);
  margin-right: 150px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  // width: 360px;
  height: 24px
}

.text_login2 {
  margin-bottom: 10px;

  margin-right: 280px;

  color: var(--Gris-text-50);
  font-size: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  // width: 360px;
  height: 24px
}

// nuevo budget
.nuevo-budget {
  margin-top: 15px;
  font-weight: 500;
  font-size: 34px;
  line-height: 29px; 
   margin-bottom: 30px;
  text-align: center;
  color: var(--Green);
}