 .inactive {
   display: none;
 }

 header {
   width: 100vw;


 }

 nav.navbar {
   background-color: var(--Content2);
   width: 100%;
   height: 56px;
   display: flex;

   flex-wrap: nowrap !important;
 }

 .navbar-home {
   ul {
     list-style: none;
     display: flex;
     align-items: center;
     margin-bottom: 0 !important;
   }

   ul li {
     padding-inline: 24px;
   }

   ul li a {
     color: var(--Gris-text-50);
     text-decoration: none;

     &:hover {
       color: var(--hover-Green);
       text-decoration: none;
     }
   }
 }
 
 .input-search {

    .input-search-box span {
        color: var(--Gris-text-50);
        margin-top: 6px;
    }
 }


 .linkto_myaccount {
   a {
     display: flex;
     align-items: center;
     text-decoration: none;
     color: var(--Gris-text-50);
   }

   p {
     margin-bottom: 0 !important;
     &:hover {
      color: var(--hover-Green);
    }
   }
 }

 .mobile_menu span {
   color: var(--Gris-text-50);
   cursor: pointer;
   padding-top: 6px;
 }

 #modal_header {
   width: 228px;
   height: 196px;
   left: 0;
   top: 55px !important;
   right: 0;
   bottom: 0;

   .modal-content {
     border-radius: 6px;
   }

   .modal-body {
     padding: 8px;
     padding-left: 16px;
     background-color: var(--Content3);
   }

   .modal-body ul {
     margin-bottom: 0 !important;
   }

   .modal-body ul li {
     list-style: none;
     font-size: 16px;
   }

   a {
     color: var(--Gris-text-50);

     &:hover {
       color: var(--hover-Green);
       text-decoration: none;
     }
   }

   #list_header {
     margin-bottom: 16px;
   }

   #list_header1 {
     margin-bottom: 8px;
   }
 }

 @media (min-width: 701px) {
   nav {
     display: flex;
     align-items: center;
   }

   .mobile_menu {
     display: none;
   }

   .navbar-logo {
     padding-left: 80px;
   }

   div.input-search {

     div.input-search-box {
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       width: 260px;
       height: 36px;
       background: var(--Content3);
       border-radius: 4px;
     }

     input {
       background: var(--Content3);
       border: none;
     }
   }

   .linkto_myaccount {
     padding-right: 156px;

     span {
       margin-right: 16px;
       color: var(--hover-Green);
     }
   }

   .header_mobile_search {
     display: none;
   }
 }

 @media (max-width: 700px) {
   nav.navbar {
     padding: 20px;
     justify-content: center;
     display: flex;
     align-content: center;
     align-items: center;
   }

   .navbar-logo {
     padding-left: 111px;
     padding-right: 71px;
   }
   
   .input-search {
      div.input-search-box {
        display: none;
      }
  }

   .navbar-home {
     display: none;
   }

   .linkto_myaccount {
      p {
      display: none;
      }
      span:hover {
        color: var(--hover-Green);
      }
   }

   .header_mobile_search {
     padding-right: 21px;
     margin-top: 8px;
     cursor: pointer;
   }
 }