:root {
    --grey: #D9D9D9;
    --black: #000000;
    --white: #FFFFFF;
    --dark-gray: #667080;
    --soft-Grey: #9197A1;

}

body {
    padding: 0;
    margin: 0;
}

* {
    font-family: Inter;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.swiper {

    width: 375px;
    height: 300px;
}


/* header */
/* .navbar-light .navbar-toggler {

    border-color: none;
    color: red;
}

p {
    color: red;
} */

.field {
    color: red;
}

.material-symbol {
    display: block;
}

@media(min-width:930px) {


    .logo {
        display: none
    }

}

/* FOOTER */ 

  footer {
    background-color: var(--soft-Grey);
    height: 100%;
    width: 100%;
    position: relative;
    padding-left: 20px;
  }

  .footer-logo {

  }

  .footer-asistencia {
    color: var(--white);
   ;
    display: grid;
  }

  .footer-direccion {
    color: var(--white);
    ;

  }

  .footer-redes-sociales {
    color: var(--white);
    ;
  }

  .footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }

@media(min-width:930px) {


    .logo {
        display: none
    }

}
