
.main_login {
    background-color: var(--Content1);
    position: relative;
    padding: 90px;
    display: grid;
    align-items: center;
    justify-content: center;
}


.field_login #user_email, #user_password {
    background-color: var(--Content3);
    border-radius: 4.8px 4.8px 0px 0px;
}

.field_login #user_email, #user_password:focus-visible {
    color: var(--Green);
}

.field_login #user_email, #user_password:active {
    border-color: var(--Background);
}

.text_login {
    color: var(--Gris-text-50);
}

.login_title {
    color: var(--Gris-text-50);
    display: none;
}

div.title {
    display: flex;
    justify-content: center;
}

#iniciar_sesion {
    color: var(--Gris-text-50);
    text-align: center;
    font-size: 24px;

}

#login_button input {
    background-color: var(--Green);
    width: 319px;
    height: 40px;
    border-radius: 4.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.items_login {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.social_login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_login img {
    padding: 14.6px;
}

#facebook_login {
    background-color: var(--Gris-text-50);
}



@media (min-width: 1001px) {
    .main_login {
    Width: 552px;
    Height: 690px;
    margin: auto;
    }
    div.title {
        padding-bottom: 40px;
    }
    .field_login #user_email, #user_password {
        Width: 360px;
        border-color: var(--Content1);
    }
    #iniciar_sesion {
        display: none;
    }
    #login_button input {
        width: 360px;
    }
    .items_login {
        padding-top: 24px;
    }
}

@media (max-width: 1000px) {

    .main_login {
        background-color: var(--Background);
    }
    div.title {
        padding-bottom: 32px;
    }
    .field_login #user_email, #user_password {
        width: 319px;
        border-color: var(--Background);
    }
    #login_button input {
        width: 319px;
    }
    .items_login {
        padding-top: 36px;
    }
    
    #linea_login {
        width: 141.24px;
    }
}
