form {
  margin: 0 auto;
}

/* // nuevo budget */
.nuevo-budget {

  margin-top: 15px;
  font-weight: 500;
  font-size: 34px;
  line-height: 29px;
  margin-bottom: 30px;
  color: var(--Green);
}

.field input {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 319px;
  width: 90vw;
  height: 40px;
  border-radius: 4.8px 4.8px 0px 0px;
  background-color: var(--Content3);
  border-color: var(--Content3);
  border: 0px;
  margin-bottom: 24px;
  color: var(--Gris-text-50);

}

.actions input {
  background-color: var(--Green);
  font-size: 20px;
  color: var(--black);


}

@media (min-width: 768px) {
  .form-body form  {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .signup_confirmation {
    text-align: center;
    margin: 0 auto;

  }

  .field input {
    width: 700px;
    text-align: center;
  }

  .form-box {
    text-align: center;
  }

  .text_login label {
    width: 100%;
    height: 24px;
    justify-content: flex-start;
    align-self: flex-start;
    text-align: center;
    margin-right: 0px;
  }

  .text_login3 label {
    /* width: 200%; */
    height: 24px;
    justify-content: flex-start;
    align-self: flex-start;
    margin-right: 0px;
    text-align: center;



  }

  .text_login,
  .text_login1,
  .text_login2 {
    margin-right: 0px;
  }
}