.olvida_contraseña {
    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.title_password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.forgot_password {
   display: none;
}

.forgotpassword {
    color: var(--Gris-text-50);
}

.enviar_mail {
    input {
        background-color: var(--Green);
        width: 319px;
        height: 40px;
        border-radius: 4.8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        color: var(--black);
        margin: auto;

        &:active {
            background-color: var(--hover-Green);
        }
    }
}

.password_email {
    input {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 319px;
        height: 40px;
        border-radius: 4.8px 4.8px 0px 0px;
        background-color: var(--Content3);
        border-color: var(--black);
        margin-bottom: 24px;
        color: var(--Gris-text-50);
        padding-left: 5px;
        
        &:focus-visible {
            color: var(--Gris-text-50);
        }
    }
}

@media (min-width: 641px) {
    .olvida_contraseña {
        padding: 30px;
        background-color: var(--Content1);
        Width: 552px;
        Height: 690px;
        margin: auto;
        margin-bottom: 77px;
        margin-top: 76px;

        form {
            padding: 70px 0;
        }
    }
    .forgotpassword {
        font-size: 28px;
        margin-top: 80px;
    }   
    .password_email {
        font-size: 20px;
    }
}

@media (max-width: 640px) {
    .forgotpassword {
            font-size: 22px;
            margin: 50px 0;
    }
    .password_email {
        font-size: 18px;
    }
    .olvida_contraseña {
        min-height: 100vh;
    }
    .volver_password {
        span {
            padding: 20px;
        }
    }

}