:root {
    --grey: #D9D9D9;
    --black: #000000;
    --white: #FFFFFF;
    --soft-gray: #667080;
    --dark-Grey: #9197A1;
    --Gris-text-50: #F3F3F3;
    --Gris-text-100: #DDDDDD;
    --Gris-text-200: #C6C6C6;
    --Gris-text-300: #B0B0B0;
    --Gris-text-400: #9B9B9B;
    --Gris-text-500: #868686;
    --Gris-text-600: #727272;
    --Gris-text-700: #5E5E5E;
    --Gris-text-800: #4B4B4B;
    --Gris-text-900: #393939;
    --Background: #121212;
    --Content1: #191919;
    --Content2: #2A2E34;
    --Content3: #32373E;
    --Green: #21D3A3;
    --Blue: #80A5FF;
    --Pink: #F0949F;
    --hover-Green: #21d3a3b0;
}

.olvida_contraseña {
    padding: 30px;
    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.title_password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.forgot_password {
   display: none;
}

.forgotpassword {
    color: var(--Gris-text-50);
}

.enviar_mail {
    input {
        background-color: var(--Green);
        width: 319px;
        height: 40px;
        border-radius: 4.8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        color: var(--black);
        margin: auto;

        &:active {
            background-color: var(--hover-Green);
        }
    }
}

.password_email {
    input {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 319px;
        height: 40px;
        border-radius: 4.8px 4.8px 0px 0px;
        background-color: var(--Content3);
        border-color: var(--black);
        margin-bottom: 24px;
        color: var(--Gris-text-50);
        
        &:focus-visible {
            color: var(--Gris-text-50);
        }
    }
}

@media (min-width: 641px) {
    .olvida_contraseña {
        background-color: var(--Content1);
        Width: 552px;
        Height: 690px;
        margin: auto;
        margin-bottom: 77px;
        margin-top: 76px;

        form {
            padding: 70px 0;
        }
    }
    .forgotpassword {
        font-size: 28px;
        margin-top: 80px;
    }   
    .password_email {
        font-size: 20px;
    }
}

@media (max-width: 640px) {
    .forgotpassword {
            font-size: 22px;
            margin: 50px 0;
    }
    .password_email {
        font-size: 18px;
    }
    .olvida_contraseña {
        min-height: 100vh;
    }

}