.sign_up {
    background-color: var(--black);
    padding: 20px;

    p, label, em {
        color: var(--Gris-text-50);
        font-size: 20px;
        }
}

.logo_signup { 
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 32px;

    h2 {
        display: none;
    }
}

.title_signup {
    p {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 24px;
    }
}

.datos_signup {
    p {
        margin-bottom: 8px;
        font-size: 20px;
    }
}

#datos_title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 24px;
}

.signup_email #user_email,
.signup_password #user_password,
.signup_confirmation #user_password_confirmation,
#name,
#apellido,
#telefono,
#direccion,
.actions_signup input {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 319px;
    height: 40px;
    border-radius: 4.8px 4.8px 0px 0px;
    background-color: var(--Content3);
    border-color: var(--black);
    margin-bottom: 24px;
    color: var(--Gris-text-50);
    
    &:focus-visible {
        color: var(--Gris-text-50);
    }
}

.actions_signup {
    input {
        background-color: var(--Green);
        font-size: 20px;
        color: var(--black);

        &:active {
            background-color: var(--hover-Green);
        }
    }
}

.signup_volver {
    width: 100px;
    height: 30px;
    background-color: var(--Green);
    font-size: 20px;
    margin-left: 40px;
    border-radius: 4.8px;
    
    a {
        color: var(--black);
        text-decoration: none;
        display: flex;
        justify-content: center;

        &:active {
           border-radius: 4.8px
        }
    }
}

.footer_signup {
    background-color: var(--Content3);
    height: 64px;
    color: var(--Gris-text-50);
    font-size: 20px;
    display: grid;
    align-items: center;

    a {
        color: var(--Gris-text-50);
        &:hover {
            color: var(--Gris-text-300);
            text-decoration: none;
        }
    }

    .signup_footer_desktop p,
    .signup_footer_mobile p {
        margin-bottom: 0;
        color: var(--Gris-text-50);
    }
}

@media (min-width: 641px) {
    .sign_up {
        background-color: var(--Content1);
        margin: auto;
        width: 1128px;
        height: 690px;
        margin-top: 76px;
        margin-bottom: 77px;
    }
    .logo_signup {
        padding-top: 44px;
    }

    .field_signup1 {
        display: flex;
        justify-content: space-evenly;
    }

    .datos_signup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

            #columna1 {
                margin-left: 155px;
            }
            #columna2 {
                margin-right: 155px;
            }
    }

    #datos_title {
        margin-left: 168px;
    }

    .title_signup p {
       margin-left: 30px;
    }

    .signup_email #user_email,
    .signup_password #user_password,
    .signup_confirmation #user_password_confirmation,
    #name,
    #apellido,
    #telefono,
    #direccion,
    .actions_signup input {
        display: inline;
        border-color: var(--Content3);
    }
    #name,
    #apellido,
    #telefono,
    #direccion {
        width: 360px;
    }
    .actions_signup {
        margin-left: 168px;
    }

    .signup_footer_mobile {
        display: none;
    }
    .footer_signup {
        position: absolute;
        bottom: 0;
        width: 100%;

        .signup_footer_desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;

            #desktop_footer1 {
                display: grid;
                justify-items: start;
                padding-left: 155px;
            }
            #desktop_footer2 {
                display: grid;
                justify-items: end;
                padding-right: 157px;
            }
        }
    }

}

@media (max-width: 640px) {
    .title_signup, #datos_title  {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .signup_footer_desktop {
        display: none;
    }
    .signup_footer_mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;

        #mobile_footer1 {
            display: grid;
            justify-items: start;
            margin-left: 24px;
        }
        #mobile_footer2 {
            display: grid;
            justify-items: end;
            margin-right: 24px;
        }
    }

}